@font-face{
  font-family: 'head';
  src:  url('../fonts/f123.ttf') format('truetype'),
    url('../fonts/f123.eot') format('embedded-opentype'),
    url('../fonts/f123.woff2') format('woff2'),
    url('../fonts/f123.woff') format('woff'),
    url('../fonts/f123.svg#fontawesomeregular') format('svg');
}
@font-face{
  font-family: 'motto';
  src:  url('../fonts/f234.ttf') format('truetype'),
    url('../fonts/f234.eot') format('embedded-opentype'),
    url('../fonts/f234.woff2') format('woff2'),
    url('../fonts/f234.woff') format('woff'),
    url('../fonts/f234.svg#fontawesomeregular') format('svg');
}
.main{
  width:450px;
  height: 900px;
  margin: 10px auto;
  padding:5%;
  background-color: #b0c4de;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  z-index：-1;
}
.title{
  /* font-weight:  bold ; */
  font-family:'head','微软雅黑';
  color:#fff;
  transform: rotate(-20deg) translate(-30pt,-10pt);
}
.name{
  position: relative;
  left: 80%;
  top:-5%;
  font-family:'head','微软雅黑';
  color:#fff;
}
.motto{
  /* font-weight:  bold ; */
  width: 100%;
  font-family:'motto','微软雅黑';
  color:#fff;
  transform: translate(10pt,60pt);
}
.main .line{
  position: absolute;
  left:30%;
  top:0.8%;
  z-index：0;
  transform: rotate(8deg) ;
}
.main .line>img{
  /* width: 100%; */
  height: 1100px;
}
.main .box{
  position: relative;
  z-index：1;
}
.main .box .person{
  background-color: #d8e2ef;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width:400px;
  height: 400px;
  margin:60px auto 0;
  position: relative;
  overflow: hidden;
}
.main .box .person div{
    width:150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
    left: 32%;
    top:30%;
    overflow: hidden;
}
.main .box .person div>img{
    width:100%;
}
.mian .box ul{
  width:80%;
  position:absolute;
  left:10%;
  top:0;
  height:100%;
}
.main .box ul>li{
    width:23%;
    position:absolute;
    left:0;
    top:0;
    -webkit-transition: left linear .5s,top linear .5s,width linear .5s,height linear .5s;
    -moz-transition: left linear .5s,top linear .5s,width linear .5s,height linear .5s;
    -ms-transition: left linear .5s,top linear .5s,width linear .5s,height linear .5s;
    -o-transition: left linear .5s,top linear .5s,width linear .5s,height linear .5s;
    transition: left linear .5s,top linear .5s,width linear .5s,height linear .5s;
}
.main .box ul>li>div{
    width:350%;
}
.main .box ul>li>div>a{
    width:25%;
    display: block;
}
.main .box ul>li>div>a>img{
    position:relative;
    left:0;
    top:0;
    z-index: 1;
    width:100%;
    border-radius: 50%;
}
.main ul>li>div>div{
    position:absolute;
    top:5%;
    z-index: 10;
    width:210%;
    min-height:90%;
    background-color: #778899;
    display: none;
    border-radius: 0.8em;
    color:#fff;
    font-weight: bold;
    opacity: 0;
    -webkit-transition: opacity linear .5s;
    -moz-transition: opacity linear .5s;
    -ms-transition: opacity linear .5s;
    -o-transition: opacity linear .5s;
    transition: opacity linear .5s;
}
.main .box ul>li div.right{
    left:75%;
    top:70%;
    padding:5% 5% 5% 15%;
}
.main .box ul>li div.left{
    right:80%;
    padding:5% 15% 5% 5%;
}
.main .box ul>li>div>div.open{
    display:block;
    opacity: 0.8;
}
